<h2 class="titre"> Merci de saisir votre information</h2>

<form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
  <div class="ins" id="nom-prenom-datenaiss">

    <mat-form-field appearance="outline">
      <mat-label>Nom</mat-label>
      <input matInput
             autocomplete="off"
             formControlName="nom"
             required />
      <mat-hint>En majuscule</mat-hint>
      <mat-error *ngIf="isRequired('nom')">Nom obligatoire</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Prénom</mat-label>
      <input matInput
             autocomplete="off"
             formControlName="prenom"
             required />
      <mat-hint>En majuscule</mat-hint>
      <mat-error *ngIf="isRequired('prenom')">Prénom obligatoire</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date de naissance (dd/mm/aaaa)</mat-label>
      <input matInput
             #minmaxInput [max]="currentDate"
             autocomplete="off"
             [matDatepicker]="datepicker"
             formControlName="date"
             required />
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
      </mat-datepicker>
      <mat-error *ngIf="isRequired('date')">Date de naissance obligatoire</mat-error>
    </mat-form-field>

  </div>

  <div class="ins" id="compte">

    <mat-form-field appearance="outline">
      <mat-label>Identifiant (min. 8 caractères)</mat-label>
      <input matInput
             autocomplete="off"
             formControlName="login"
             required />
      <mat-error *ngIf="isRequired('login')">Identifiant obligatoire</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mot de passe (min. 8 caractères)</mat-label>
      <input matInput
             required
             autocomplete="off"
             formControlName="mdp"
             [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="isRequired('mdp')">Mot de passe obligatoire</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirmation de mot de passe</mat-label>
      <input matInput
             required
             autocomplete="off"
             formControlName="confirmMdp"
             [type]="hide ? 'password' : 'text'"
             [errorStateMatcher]="errorMatcher">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
          <mat-error *ngIf="isRequired('confirmMdp') && isRequired('mdp')">Merci de renseigner votre mot de passe avant de confirmer</mat-error>
          <mat-error *ngIf="isPasswordMatched()"> Les mots de passe ne sont pas identiques </mat-error>
    </mat-form-field>
  </div>

  <div class="valider">
    <button mat-raised-button
            class="btn-valider"
            type="submit"
            [disabled]="!inscriptionForm.valid">Valider
    </button>
  </div>
</form>
