<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a [routerLink]="['/']"><img class="logo" src="../../assets/images/Autolib_logo.svg" /></a>
      <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target=".navbar-collapse"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="isExpanded"
          (click)="toggle()">
         <mat-icon>menu</mat-icon>
       </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-light" [routerLink]="['/']" mat-button>Accueil</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/proximite']" mat-button>Station à proximité</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!authService.isLoggedIn()">
            <a class="nav-link text-light" [routerLink]="['/inscription']" mat-button>Inscription</a>
          </li>
          <li class="nav-item" *ngIf="!authService.isLoggedIn()">
            <form [formGroup]="connexionForm">
              <mat-form-field appearance="outline">
                <mat-label>Identifiant</mat-label>
                <input matInput autocomplete="off"
                       formControlName="identifiant"
                       required />
                <mat-error *ngIf="isRequired('identifiant')">Identifiant obligatoire</mat-error>
              </mat-form-field>
            </form>
          </li>
          <li class="nav-item" *ngIf="!authService.isLoggedIn()">
            <form [formGroup]="connexionForm">
              <mat-form-field appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input matInput
                       [type]="hide ? 'password' : 'text'"
                       formControlName="mdp"
                       required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="isRequired('mdp')">Mot de passe obligatoire</mat-error>
              </mat-form-field>
            </form>
          </li>
          <li class="nav-item" *ngIf="!authService.isLoggedIn()" [routerLinkActive]="['link-active']">
            <form [formGroup]="connexionForm">
              <a class="nav-link text-dark" mat-raised-button (click)="onSubmit()">Connexion</a>
            </form>
          </li>
          <li class="nav-item" *ngIf="authService.isLoggedIn()" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/compte']" mat-button>Mon compte</a>
          </li>
          <li class="nav-item" *ngIf="authService.isLoggedIn()" [routerLinkActive]="['link-active']">
          <a class="nav-link text-danger" (click)="authService.logOut()" mat-button >Me déconnecter</a>
          </li>
          <li class="nav-item" *ngIf="authService.isLoggedIn()">
            <a class="nav-link text-light" mat-button>{{ sayHello(moment) }}, </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    
</header>
