a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;

}

a {
  font-size: 13px !important;
}

nav {
    height: 75px;
}

mat-button {
    width: 10px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

li {
    margin: 0 5px 0 5px;
}

input {
    width: 95%;
    font-size: 13px;
}

.logo {
    width: 57px;
}

html {
  font-size: 16px;
}

mat-form-field , mat-label {
  color: rgb(0, 148, 255);
}

mat-form-field {
    font-size: 9px;
}

mat-label {
    font-size: 11px;
}

mat-form-field {
    margin-top: 15px;
}

.hello {
    color: white;
    font-weight: 500;
}



@media (min-width: 1000px){
  html {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  mat-form-field {
    margin-top: 2px;
  }

  nav {
      height: unset;
  }
}


.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
