<h2>Station N° {{ data.id }} </h2>
<h5><mat-icon>location_on</mat-icon>{{ getAdresse() }}.<br />
--------------</h5>
<div class="info-bornes">
  <p>Total bornes: <b>{{ totalBornes() }}</b>.</p>
  <p style="color: rgb(51, 174, 103)">Disponibles : <b>{{  totalBornesDispo() }}</b>.</p>
</div>
<ul> 
  <li class="circle" *ngFor="let borne of data.bornes"
      [ngStyle]="{
       'color': getColor(borne.etatBorne),
       'background-color': getBackgroundColor(borne.etatBorne)
      }">
  {{ borne.id }}
  </li>  
</ul>
<div class="btn-reserver">
  <a mat-raised-button matDialogClose
     class="btn-with-hover"
     [routerLink]="['/reservation/stations', data.id]"  [routerLinkActive]="['link-active']">
  Réserver
  </a>
</div>
