<h2>Station N° {{ data.id }} </h2>
<h5><mat-icon>location_on</mat-icon>{{ getAdresse() }}.</h5>
<p id="total">
  Total bornes: <b>{{ totalBornes() }}.</b><br />
  <span class="barre">--------------------</span>
</p>
<div class="statuts">
    <p id ="dispo">Disponibles : <b>{{  totalBornesDispo() }}</b>.</p>
    <p id="reserve">Réservées à la location: <b>{{ totalBornesReservees() }}</b>.</p>
    <p id="vide">Vides: <b>{{ totalBornesVides() }}</b>.</p>
</div>
<ul> 
  <li class="circle" *ngFor="let borne of data.bornes"
      [ngStyle]="{
       'color': getColor(borne.vehicule),
       'background-color': getBackgroundColor(borne.vehicule)
      }">
  {{ borne.id }}
  </li>  
</ul>
<div class="btn-reserver" *ngIf="showBtnReserver">
  <a mat-raised-button matDialogClose
     class="btn-with-hover"
     [routerLink]="['/reservation/stations', data.id]"  [routerLinkActive]="['link-active']">
  Réserver
  </a>
</div>
<div *ngIf="showInfo" class="info-non-dispo">
  Oups ! Pas de voitures disponibles pour l'instant, merci d'y revenir plus tard ! 
</div>
