h2, h5{
  text-align: center;
}

h2 {
    color: rgb(0, 148, 255);
}

.info-bornes, ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    padding: 0;
    justify-content: space-evenly;
    margin: 10px 0 30px 0;
}

.circle {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 15px;
  border: white 1px solid;
  text-align: center;
}

.btn-reserver {
    display: flex;
    justify-content: center;
}


a {
    text-decoration: none;
}
